{% for order in orders %}
    <div class="orders">
        <p>{{ order.drink.name }}, {{ order.drink.type }}</p>
        {% for ingredient in order.drink.recipe %}
        <button type="button" class="btn btn-primary btn-cons {{ order._id }} {{ ingredient.type }} {{ ingredient.flavor }} is-closed" onclick="slide_bar('{{ order._id }}', '{{ ingredient.type }}', '{{ ingredient.flavor }}')"><b>
            {% if ingredient.flavor is not none %}
                {{ ingredient.flavor }}
            {% endif %}
            {{ ingredient.type }} - {{ ingredient.ammount }}
        </b></button><br>
        {% endfor %}
        <button type="button" class="btn btn-success btn-cons" onclick="order_complete('{{ order._id }}')"><b>Completed</b></button>
    </div>
{% endfor %}
