{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
    <script type="text/javascript" src="/static/js/review_order.js"></script>
{% endblock %}

{% block content %}
<div class="container" style="margin-top:5px">
  <div class="row">
    <div class="col">
      <div class="panel panel-default panel-table">
          <div class="panel-heading">
              <div class="tr">
                  <div class="td">
                    <h5 class="drink-title">
                      [<b class="user-name">{{ user.username }}</b>@<b class="hacker-bar">Hackerbar
                      </b>
                      <b class="dir">~/menu/</b>]$ curl order | less
                    </h5>
                  </div>
              </div>
          </div>
          <div class="panel-body">
              {% set drinkname = drink['name'] %}
              {% set img = drink['image'] %}
              <div class="tr">
                  <div class="td">
                    <div class="col col-xs-4" align=left>
                      <img height="100%" width="100%" src="{{url_for('static', filename='images/drinks/')}}{{img}}">
                    </div>
                    <div class="col col-xs-8" align=left>
                      <h3 class="drink-title"><b>{{drinkname}}</b></h3>
                      <ul>
                        {% for ingredient in drink['recipe'] %}
                          <li class="drink-text">{{ingredient['amount']}}
                              {% if ingredient['flavor']|lower != "none" %}
                                {{ingredient['flavor']}}
                              {% endif %}
                              {{ingredient['type']}}
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
              </div>
              <div class = "tr">
                <div class="col col-xs-12">
                  <div class="form-group">
                    <label class="drink-title" for="ordernotes">Enter any special requests:</label>
                    <textarea placeholder="Show me the moose..." class="form-control" id="instructOrder" rows="3"></textarea>
                  </div>
                  <div class="col col-xs-6">
                    <button style="width: 100%" id="cancelBtn" onclick="cancelOrder()" class="btn btn-primary btn-hover-green">Cancel</button>
                  </div>
                  <div class="col col-xs-6">
                    <button style="width: 100%" id="orderBtn" onclick="orderDrink('{{drinkname}}')" class="btn btn-danger">Order</button>
                  </div>
                </div>
              </div>
          </div>
          <div class="panel-footer">
              <div class="tr" align=center>
                  <div class="td">
                  <h5 class="drink-title">(END)</h5>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
